{% extends "base.html" %}

{% block title %}My Video Player{% endblock %}

{% block content %}
    <div id="myDiv"></div>
    <!-- Gallery -->
    <div id="myGallery" style="display:none">
        <div data-cat="Multimedia gallery">
            <!-- Had to put the for loop inside the gallery -->
            {% for clip in clips %}
                <ul>
                    <li data-rl-src="{{ clip['server_url'] }}" data-thumb-src="{{ clip['thumbnail_url'] }}" data-thumb-overlay-color="#50C878"></li>
                    <li data-thumb-caption="{{ clip['title'] }}">
                        <p class="title">{{ clip['title'] }}</p>
                        <p class="desc">{{ clip['description'] }}</p>
                    </li>
                </ul>
            {% endfor %}

        </div>
    </div>
    <!-- end -->
{% endblock %}
